header {
  background-color: #D6D6D6;
  display:flex;
}

hr {
  margin-bottom: 30px;
}

.circle {
  margin: 3px;
}

#urlbar {
  width: 530px;
  height: 20px;
  border-radius: 5%;
  background-color: #FFFFFF;
  margin: 5px;
}
.all-content {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 75px;
}

#top_box {
  margin-bottom: 25px;
  height: 30px;
  width: 200px;
}

.content-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  border: solid 1px;
  width: 20vw;
  height: 20vw;
  margin: 1vw;
  margin-bottom: 20px;
}
