header {
  background-color: #D6D6D6;
  padding: 5px;
}

hr {
  margin-bottom: 30px;
}

.circle {
}

.all-content {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 75px;
}

#top_box {
  margin-bottom: 25px;
  height: 30px;
  width: 200px;
}

.content-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  border: solid 1px;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}
