body {
  /*   http://lea.verou.me/css3patterns/#carbon-fibre  */
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 16px;
}

h1 {
  font-size: 40px;
  color: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 30px;
}

.all-content {
  margin-left: 10vw;
  margin-right: 10vw;
  font-family: 'Roboto', sans-serif;
}

#top_box {
  margin-bottom: 25px;
  height: 30px;
  width: 50vw;
  font-size: 16px;
}

.content-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  text-align: center;
  border: solid 1px;
  width: 20vw;
  padding-top: 10px;
  margin: 1vw;
  margin-bottom: 20px;
}

button {
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  padding: 10px;
  font-size: 16px;
}
